<br>
<div class="card text-bg-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body">
        <h5 class="card-title">Listado de clientes</h5>
        <table id="example" class="table table-striped" style="width:100%">
            <caption>Clientes registrados</caption>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Identificacion personal</th>
                    <th>Nombre</th>
                    <th>Ubicación</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes | async">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.identificacionPersonal}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.direccion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>